<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/blogpost.css" />
  </head>
  <body>
    <main>
      {% include 'header' %}
      <div class="container post-container">
        <h1 class="post-title">{{ title }}</h1>
        <span class="post-date">
          {{ date | date: "%d %B %Y" }}
        </span>
        <div class="content">
          {{ content }}
        </div>
      </div>
      {% include 'footer' %}
    </main>
  </body>
</html>