<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Arpit Batra" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/homepage.css" />
  </head>
  <body>
    <main>
      {% include 'header' %}
      <div class="container">
        {{ content }}
        <div class="posts-container">
          <h2 class="posts-title">archive</h2>
          <ul class="posts">
            {% for post in collections.posts reversed %}
              <li class="post">
                <span class="post-title">
                  {% if post.data.externalLink %}
                    <a
                      href="{{ post.data.externalLink }}"
                      target="__blank"
                      class="post-link">{{ post.data.title }}</a>
                  {% else %}
                    <a href="{{ post.url }}" class="post-link">{{ post.data.title }}</a>
                  {% endif %}
                </span>
                <span class="post-date">
                  {{ post.date | date: '%b %y' | downcase }}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% include 'footer' %}
    </main>
  </body>
</html>